body{
    border: 2px solid black;
  background-color:  rgb(28, 2, 48);
  height: 100%;

}
.open-sans> {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
}

/* navigetionbar */
header{
    background-color:  rgb(28, 2, 48);
     /* background-color:rgba(41, 0, 41, 0.849); */
     height: 100%;
}
#nav-containar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 200px;
}
#nav-containar .logo{
    color: white;
    font-size: 20px;
}

#nav-containar .logo span{
    color: rgba(219, 72, 159, 1);
}

#nav-containar .nav-item a{
    font-size: 20px;
    color: #FFFFFF;
    padding-right: 40px;
}
.btn button{
   background: var(--Linear, linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1)));
    border-radius: 30px;
    width: 135px;
height: 44px;
}

/* banner */
#banner-containar{
    background-image: url(../assets/hero-bg.png);
     height: 100%;
     width: 100%;background-position: center;
     border: 5px solid red;
     padding-bottom: 150px;
}
#banner-containar .logo{
    background-image: url(../assets/hero-circle.png);
    background-repeat: no-repeat;
    background-position: 510px;
   padding: 170px 600px 5px 620px;
   width: 350px;
height: 350px;
}
#banner-containar .containt h1{
     text-align: center;
     color: #FFFFFF;
     font-size: 60px;
}
#banner-containar .containt p{
    color: rgba(255, 255, 255, 1);
font-style: Regular;
font-size: 16px;
font-weight: 400;
/* line-height: 19px; */
text-align: center;
padding-top: 0px;
}
#banner-containar .button{
    display: flex;
    justify-content: center;
    column-gap: 30px;
}
#banner-containar .button .btn1 button{
    background: var(--Linear, linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1)));
    width: 201px;
height: 44px;
border-radius: 30px;
font-size: 20px;
}
#banner-containar .button .btn2 button{
    border: 2px solid greenyellow;
    width: 201px;
height: 44px;
border-radius: 30px;
font-size: 20px;
}
#banner-containar .button  button img{
    width: 20px;
height: 20px;
align-items: center;
}


/* about podcust */
#podcast{
    text-align: center;
}
.podcast-containt{
    color:#FFFFFF ;
    padding: 50px 350px 160px 350px;
    border-color: 2px solid red;
}
.podcast-containt h1{
    font-style: Bold;
font-size: 48px;
}
.podcast-containt p{
    font-style: Regular;
font-size: 16px;
}
#podcast .card1{
   display: flex;
flex-direction: row;
justify-content: space-between;
padding: 0 200px 120px 200px;
}
#podcast .card1 h1{
    color: #00FF88;
    font-style: Black;
font-size: 48px;
}
#podcast .card1 p{
    color: #FFFFFF;
    font-style: Regular;
font-size: 16px;
}




/* card-containar */
.card-selection .head{
    font-style: Bold;
font-size: 30px;
    color: #FFFFFF;
}
.card-selection{
    text-align: center;
}
.card{
    width: auto;
    border: 2px solid purple;
    border-radius: 20px;
    padding: 10px;
    /* box-shadow: 10px 10px 10px 10px burlywood; */
    background-color:  rgb(28, 2, 48);
    text-align: center;
    height: auto;
    color: #FFFFFF;
}
/* .card:hover{ 
    background-color: aquamarine;
} */

.card-containar {
    display: flex;
    gap: 100px;
    flex-wrap: wrap;
    text-align-last: left;
     display: grid;
            gap: 30px;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(3, 1fr);
            padding: 90px 200px 120px 200px;
            
    
}
.card-containar .card h3{
  text-align: left;
  font-style: Bold;
font-size: 24px;
}
.card-containar .card p{
  text-align: left;
  font-style: Regular;
font-size: 16px;
}
.card-containar #Quality{
   grid-row: span 2;
}
.card-containar #Mobile-Global{
  grid-column: span 2;
}
.card-containar #Interviews{
  grid-column: span 2;
}
/* video section */
.video-card-selection .head{
    font-style: Bold;
font-size: 30px;
    color: #FFFFFF;
}

.video-card-selection{
    text-align: center;
}
.video{
    width: auto;
    border: 2px solid purple;
    border-radius: 20px;
    padding: 10px;
    /* box-shadow: 10px 10px 10px 10px burlywood; */
    background-color:  rgb(28, 2, 48);
    text-align: center;
    height: auto;
    color: #FFFFFF;
}
.video-card-containar {
    display: flex;
    /* gap: 100px; */
    flex-wrap: wrap;
    text-align-last: left;
     display: grid;
            gap: 30px;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(3, 1fr);
            /* padding: 90px 200px 120px 200px; */
}